#contact-page-secondary-component{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #contact-page-primary-component{
      margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #header{
    height: 25vh;
  }