#contact-page-secondary-component{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #contact-page-primary-component{
    padding-left: 9vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
 

  #contact-page-primary-component{
    height: 10vh;
  }